---
import IntroLink from '../components/intro-link.astro';
import ContainerLayout from '../layouts/container-layout.astro';
import { SEO } from 'astro-seo';

import { format, differenceInWeeks } from 'date-fns';
import { getCollection } from 'astro:content';
import RecentlyPublished from '../components/recently-published.astro';

const notes = (
  await getCollection('note', ({ data }) => {
    return data.isDraft !== true;
  })
).sort((a, b) => {
  return b.data.publishDate.getTime() - a.data.publishDate.getTime();
});
---

<ContainerLayout>
  <SEO
    slot="head"
    title="alireza ahmadi"
    description="the personal website of alireza ahmadi"
    openGraph={{
      basic: {
        title: 'alireza ahmadi',
        type: 'website',
        image: 'https://alireza.es/og.png',
        url: 'https://alireza.es',
      },
    }}
    twitter={{
      creator: '@alireza94',
    }}
    extend={{
      meta: [
        {
          name: 'twitter:image',
          content: 'https://alireza.es/og.png',
        },
        { name: 'twitter:title', content: 'alireza ahmadi' },
        {
          name: 'twitter:image:alt',
          content: 'alireza ahmadi',
        },
        {
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        {
          name: 'twitter:description',
          content: 'the personal website of alireza ahmadi',
        },
      ],
    }}
  />
  <section>
    <p
      class="text-normal font-normal font-body leading-relaxed sm:text-lg mb-4 text-balance"
    >
      Hi, I'm a consultant with
      <IntroLink
        href="https://github.com/alireza-ahmadi"
        caption="GitHub"
        captionRotation={-1}>software</IntroLink
      >
      <IntroLink
        href="https://stackoverflow.com/users/2503246/alireza-ahmadi"
        caption="StackOverflow"
        captionRotation={1}
      >
        engineering
      </IntroLink> background. I help companies leverage the tech to achieve their
      primary objectives.
    </p>
    <div
      class="text-normal font-normal leading-relaxed sm:text-lg mb-14 flex flex-row gap-3 sm:gap-4"
    >
      <IntroLink
        href="https://x.com/alireza94"
        caption="alireza94"
        captionRotation={2}>X.com</IntroLink
      >
      <IntroLink
        href="https://www.linkedin.com/in/alirezaahmadi/"
        caption="alirezaahmadi"
        captionRotation={-1}>LinkedIn</IntroLink
      >
      <IntroLink
        caption="wojiaoalireza"
        href="https://t.me/wojiaoalireza"
        captionRotation={-2}>Telegram</IntroLink
      >
      <IntroLink
        caption="me@alireza.es"
        href="mailto:me@alireza.es"
        captionRotation={1}>Mail</IntroLink
      >
    </div>
  </section>
  {
    notes.length > 0 && (
      <section>
        <h2 class="font-semibold !text-2xl mb-2 sm:text-lg font-heading">
          Notes
        </h2>
        <ul class="font-body">
          {notes.map((note) => (
            <li class="flex flex-col justify-start items-start gap-1 py-2">
              <a
                href={`/notes/${note.slug}`}
                class="font-normal text-lg flex-grow-0 flex-shrink-0 underline decoration-2 underline-offset-1 hover:text-thistle-700"
                transition:name={`title-${note.slug}`}
                data-astro-prefetch
              >
                {note.data.title}
              </a>
              <div class="flex flex-row justify-stretch items-center gap-3 sm:gap-4 w-full">
                {/* <span class="after:border-bay-of-many-950/30 after:border-t-2 relative after:absolute after:w-full after:left-0 after:top-1/2 after:box-border after:-translate-y-1/2 h-1 after:border-dashed flex-grow block" /> */}
                <span class="flex-grow-0 flex-shrink-0 text-sm font-semibold flex items-center gap-1">
                  {format(note.data.publishDate, 'yyyy-MMM-dd')}
                  {differenceInWeeks(new Date(), note.data.publishDate) <=
                    4 && (
                    <RecentlyPublished
                      date={note.data.publishDate}
                      client:idle
                    />
                  )}
                </span>
              </div>
            </li>
          ))}
        </ul>
      </section>
    )
  }
</ContainerLayout>
