---
import '@fontsource/space-mono/400.css';

const links = [
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/alirezaahmadi/',
  },
  {
    name: 'X, formerly Twitter',
    url: 'https://x.com/alireza94',
  },
  {
    name: 'GitHub',
    url: 'https://github.com/alireza-ahmadi',
  },
  {
    name: 'StackOverflow',
    url: 'https://stackoverflow.com/users/2503246/alireza-ahmadi',
  },
  {
    name: 'Email',
    url: 'mailto:me@alireza.es',
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Alireza Ahmadi</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#000000" />
    <!-- Opengraph -->
    <meta http-equiv="Content-Language" content="en" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@alireza94" />

    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image" content="https://alireza.es/og.png" />
    <meta property="og:image:alt" content="Alireza Ahmadi" />
    <meta property="og:site_name" content="alireza.es" />
    <meta property="og:title" content="Alireza Ahmadi" />
    <meta property="og:description" content="Just a tiny personal website" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://alireza.es" />
    <!-- Load Inter font family -->
    <style is:global>
      @font-face {
        font-family: 'Inter Variable';
        font-display: swap;
        font-weight: 100 900;
        src: url(/fonts/inter-variable.woff2) format('woff2-variations');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>
  </head>
  <body class="bg-black text-white selection:bg-white selection:text-black">
    <main
      class="font-body w-full box-border p-8 sm:max-w-xl md:p-16 antialiased"
    >
      <section>
        <h1 class="font-medium !text-5xl mb-10 sm:text-lg font-heading">
          Alireza Ahmadi
        </h1>
        <p
          class="text-normal font-normal leading-loose sm:leading-loose sm:text-lg mb-10 [text-wrap:balance]"
        >
          I'm a consultant with software engineering background. I help
          companies leverage the tech to achieve their primary objectives.
        </p>
        <ul class="text-normal font-normal opacity-70">
          {
            links.map(({ name, url }) => (
              <li class="mb-6 sm:mb-4">
                <a
                  class="border-b-2 pb-1 bg-black active:bg-white active:text-black active:pl-4 transition-all"
                  href={url}
                  target="_blank"
                >
                  {name}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
