---
import { ViewTransitions } from 'astro:transitions';

interface Props {
  isInternalPage?: boolean;
}

const { isInternalPage = false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta name="generator" content={Astro.generator} />
    <!-- Preload The Web Font -->
    <link
      rel="preload"
      href="/fonts/inter-variable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <!-- Sitemap Hint -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#ecf4f4" />
    <!-- Load Inter font family -->
    <style is:global>
      @font-face {
        font-family: 'Inter Variable';
        font-display: swap;
        font-weight: 100 900;
        src: url(/fonts/inter-variable.woff2) format('woff2-variations');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+21A9;
      }
    </style>
    <meta http-equiv="Content-Language" content="en" />
    <slot name="head" />
    <ViewTransitions />
  </head>

  <body
    class="bg-aqua-haze-100 text-bay-of-many-950 selection:bg-thistle-900 selection:text-thistle-200 text-body lowercase min-h-screen"
  >
    <main
      class="font-body w-full box-border p-6 sm:max-w-xl md:py-16 antialiased mx-auto"
    >
      <a href="/" class="transform block active:scale-90 transition-all">
        <h1
          class:list={[
            'font-medium mb-4 font-heading flex items-center gap-3 select-none',
            {
              'text-3xl': !isInternalPage,
              'text-2xl': isInternalPage,
            },
          ]}
          transition:name="logo"
        >
          <span
            transition:name="back-to-homepage"
            hidden={!isInternalPage}
            class="bg-thistle-300 text-thistle-900 text-base font-bold px-2 py-1.5 rounded-xl"
            transition:name="go-to-homepage">{'<-'} Home</span
          >
          Alireza Ahmadi
        </h1>
      </a>
      <slot />
      <footer>
        <p class="text-sm text-bay-of-many-950 mt-16 py-8">
          &copy; {new Date().getFullYear()} Some rights reserved.
        </p>
      </footer>
    </main>
  </body>
</html>
